# History files
.Rhistory
.Rapp.history
# VScode
.vscode
# Session Data files
.RData
*.fst
*.qs
*.xls*
# Rcpp
**/src/*.o
**/src/*.so
**/src/*.dll
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
# IMPACTncd specific
/outputs/
/secure_data/
/past_results/
DELETEme*
*.png
.history
Thumbs.db
Rplots.pdf
.DS_Store
IMPACTncd_Engl.code-workspace
